div(class="container-fluid shadow-sm py-0" id="heroContainer")
	div(class="container px-5 py-0")
		div(class="row")

			div(class="col-3 my-5" id="catsGirl")

				div(class="list-group shadow w-75" id="heroCategoriesList")
					<!-- list-group-item-dark -->
					a(
					class="list-group-item lead list-group-item-action active list-group-item-dark"
					id="allHeroBtn"
					href="#productsTittle"
					) All

					a(
					class="list-group-item lead list-group-item-action"
					id="shirtsHeroBtn"
					href="#productsTittle"
					) Shirts

					a(
					class="list-group-item lead list-group-item-action"
					id="pantsHeroBtn"
					href="#productsTittle"
					) Pants

					a(
					class="list-group-item lead list-group-item-action"
					id="tecnologyHeroBtn"
					href="#productsTittle"
					) Tecnology

					a(
					class="list-group-item lead list-group-item-action disabled"
					id="foodHeroBtn"
					href="#productsTittle"
					) Food

			div(class="col-9 ml-5 pl-5 pb-0" id="laptopGirlCol")
				div(class="row")
					div(class="col-6 ml-5 pl-5")
						img(src="/public/img/laptopGirl.jpg" alt="A girl with a laptop")
					div(class="col-6 position-absolute" id="textoGirl")
						h1 
							strong ENJOY SHOPPING

						p(class="text-justify text-muted") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias repellat aliquid hic unde, asperiores modi quisquam laborum nihil a deserunt?

					<!-- div(class="btn-group")a(class="btn btn-secondary" href="#") SIGN UPa(class="btn btn-secondary active" href="#")i(class="fas fa-arrow-circle-right") -->