div(class="container-fluid shadow-sm py-1" style="background-color:white;")
	div(class="container px-5")
		div(class="row")

			div(class="col-3 my-5" id="catsGirl")

				div(class="list-group shadow w-75")
					a(
					class="list-group-item lead list-group-item-action list-group-item-dark active"
					) All

					a(
					class="list-group-item lead list-group-item-action"
					) Shirts

					a(
					class="list-group-item lead list-group-item-action disabled"
					) Pants

					a(
					class="list-group-item lead list-group-item-action"
					) Tecnology

					a(
					class="list-group-item lead list-group-item-action disabled"
					) Food

			div(class="col-9 ml-5 pl-5" id="laptopGirlCol")
				div(class="row")
					div(class="col-6 ml-5 pl-5")
						img(src="/public/img/laptopGirl.jpg")
					div(class="col-6 position-absolute" id="textoGirl")
						h1 
							strong ENJOY SHOPPING

						p(class="text-justify text-muted") Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias repellat aliquid hic unde, asperiores modi quisquam laborum nihil a deserunt?

						div(class="btn-group")
							a(class="btn btn-secondary") SIGN UP
							a(class="btn btn-secondary active")
								i(class="fas fa-arrow-circle-right")