<!-- PRODUCTOS -->
div(class="container px-5 bg-transparent")
	div(class="row")
		div(class="col-12")
			h1(class="text-center mb-4" id="productsTittle") 
				strong Top products

	div(class="row justify-content-center" id="productsArea")

		<!-- FOR EACH PRODUCT (SHIRTS FIRST) -->
		- var n = 0;
		while n < 6
			- var i = productos.shirts[n]
			<!-- A COLUMN TO EACH PRODUCT -->
			div(class="col-12 col-md-6 col-lg-4 mb-4 mx-md-0")
				<!-- CARD -->
				div(class="card pt-2 shadow-sm border-0 rounded-lg")
					<!-- CARD HEADER  -->
					div(
					class="card-header mt-2 mb-0 py-0 border-0"
					)
					<!-- PRODUCT TYPE OR NEW RELEASE BADGE-->
					if i.newRelease
						a(href="#productsArea" class="mx-auto py-0 badge badge-danger text-center")
							p(class="shadow-sm my-1 mx-1") New Release
					else
						a(href="#productsArea" class="mx-auto py-0 badge badge-dark text-center")
							p(class="shadow-sm my-1 mx-1")= i.type

					<!-- PRODUCT IMG -->
					a(class="text-center" href="#")
						img(
						class="card-img-top px-3 pt-3"
						alt="Card Image"
						src= i.image
						draggable="false"
						)
					<!-- PRODUCT NAME -->
					if i.stock == 0
						strong(class="my-3 text-center")
							a(class="text-body text-muted text-decoration-none")= i.name
					else
						strong(class="my-3 text-center")
							a(class="text-body text-danger" href="#")= i.name

					<!-- CARD FOOTER -->
					div(
					class="container card-footer px-4"
					)
						<!-- PRICE AND DISCOUNT (IF EXIST) -->
						- var nuevoPrecio = (i.price * i.discount) / 100
							- var procentajeDescuento = "-"+ (100-i.discount) +"%"
						if i.discount
							p(class="d-inline text-danger mr-2")
								i(class="fas fa-dollar-sign dollarPrice")
								strong(class="price")= nuevoPrecio

							p(
								class="d-inline text-muted noPrice"
								data-toggle="tooltip"
								title= procentajeDescuento
							)
								s
									strong
										span $
										span= i.price
						else
							p(
								class="d-inline float-left mb-0"
							)
								i(class="fas fa-dollar-sign dollarPrice")
								strong(class="price")= i.price

						<!-- TOOLTIP IF OUT OF STOCK -->
						<!-- ELSE, NORMAL BUTTON -->
						if i.stock == 0
							span(
							tabindex="0"
							data-toggle="tooltip" 
							title="Actualmente no contamos con este producto"
							class="d-inline-block float-right"
							)
								button(
								class="btn btn-outline-danger disabled nonStockButton"
								type="button"
								aria-label="addToCardButton"
								href="#productsArea"
								)
									i(class="fas fa-cart-plus")
						else
							a(
							class="btn btn-danger float-right"
							id="addToCart"
							href="#productsArea"
							)
								i(class="fas fa-cart-plus")
			- n++;
			<!-- END -->