<!-- PRODUCTOS -->

div(class="container px-5")
	div(class="row")
		div(class="col-12")
			h1(class="text-center mb-4" id="productsTittle") 
				strong Our products

	div(class="row justify-content-center" id="productsArea")

		<!-- FOR EACH PRODUCT (SHIRTS FIRST) -->
		each i in camisas
			<!-- A COLUMN TO EACH PRODUCT -->
			div(class="col mb-4 mx-0")
				<!-- CARD -->
				div(class="card pt-2 shadow-sm border-0 rounded-lg")
					<!-- CARD HEADER  -->
					div(
					class="card-header mt-2 mb-0 py-0 border-0"
					)
					<!-- PRODUCT TYPE OR NEW RELEASE BADGE-->
					if i.newRelease
						p(class="badge badge-success mx-auto shadow-sm") New Release
					else
						p(class="badge badge-dark mx-auto shadow-sm")= i.type

					<!-- PRODUCT IMG -->
					a(class="text-center" href="#")
						img(
						class="card-img-top px-3 pt-2"
						alt="Card Image"
						src= i.image
						)
					<!-- PRODUCT NAME -->
					strong(class="my-3 text-center")
						a(class="text-body" href="#")= i.name

					<!-- CARD FOOTER -->
					div(
					class="container card-footer pb-0"
					)
						<!-- PRICE AND DISCOUNT (IF EXIST) -->
						p(
						class="d-inline float-left"
						)
							i(class="fas fa-dollar-sign mr-1 dollarPrice")
							strong(class="price")= i.price

						if i.discount != "-0%"
							span(
							class="badge badge-pill badge-danger align-bottom mt-2 ml-1"
							)= i.discount
						<!-- TOOLTIP IF OUT OF STOCK -->
						<!-- ELSE, NORMAL BUTTON -->
						if i.stock == 0
							span(
							tabindex="0"
							data-toggle="tooltip" 
							title="Actualmente no contamos con este producto"
							class="d-inline-block float-right"
							)
								button(
								class="btn btn-outline-dark disabled nonStockButton"
								type="button"
								aria-label="addToCardButton"
								href="#productsArea"
								)
									i(class="fas fa-cart-plus")
						else
							a(
							class="btn btn-outline-dark float-right"
							href="#productsArea"
							)
								i(class="fas fa-cart-plus")

			<!-- END -->